<#include "${base}/modular/admin/common/public.html"/>
<html lang="en">
<@header title="车辆管理" keywords="车辆管理">
<link rel="stylesheet" href="${base}/static/common/css/bootstrap.css">
<link rel="stylesheet" href="${base}/static/modular/vehicle/vcleInfo/css/index.css">
<script type="text/javascript" src="${base}/static/modular/vehicle/vcleInfo/js/index.js"></script>
</@header>
<@body>
<div class="wrapper">
    <div class="page">
        <div class="title">今日出勤人数</div>
        <div class="circle circle_01">
            <img src="${base}/static/modular/admin/image/icon_01.png" alt="">
        </div>
        <div class="text">
            <div class="number">168</div>
            <div class="bef bef_01"></div>
        </div>
    </div>
    <div class="page">
        <div class="title">今日作业车辆</div>
        <div class="circle circle_02">
            <img src="${base}/static/modular/admin/image/icon_02.png" alt="">
        </div>
        <div class="text">
            <div class="number">168</div>
            <div class="bef bef_02"></div>
        </div>
    </div>
    <div class="page">
        <div class="title">今日油耗量</div>
        <div class="circle circle_03">
            <img src="${base}/static/modular/admin/image/icon_03.png" alt="">
        </div>
        <div class="text">
            <div class="number">168</div>
            <div class="bef bef_03"></div>
        </div>
    </div>
    <div class="page">
        <div class="title">今日完成量</div>
        <div class="circle circle_04">
            <img src="${base}/static/modular/admin/image/icon_04.png" alt="">
        </div>
        <div class="text">
            <div class="number">168</div>
            <div class="bef bef_04"></div>
        </div>
    </div>
</div>
<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>昵称</th>
        <th>加入时间</th>
        <th>签名</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>贤心</td>
        <td>2016-11-29</td>
        <td>人生就像是一场修行</td>
        <td>
            <button class="layui-btn layui-btn-sm">查看</button>
        </td>
    </tr>
    <tr>
        <td>许闲心</td>
        <td>2016-11-28</td>
        <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
        <td>
            <button class="layui-btn layui-btn-sm">查看</button>
        </td>
    </tr>
    </tbody>
</table>
</@body>