<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapscience.modular.vehicle.mapper.VcleMaintainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mapscience.modular.vehicle.model.VcleMaintain">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="tain_cost" property="tainCost" />
        <result column="tain_reason" property="tainReason" />
        <result column="before_photos" property="beforePhotos" />
        <result column="after_photos" property="afterPhotos" />
        <result column="problems" property="problems" />
        <result column="vcle_id" property="vcleId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, tain_cost, tain_reason, before_photos, after_photos, problems, vcle_id, create_time
    </sql>

</mapper>
