<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapscience.modular.vehicle.mapper.VcleBelongMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mapscience.modular.vehicle.model.VcleBelong">
        <id column="id" property="id" />
        <result column="vcle_id" property="vcleId" />
        <result column="dri_id" property="driId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, vcle_id, dri_id, create_time, state,update_time
    </sql>
    <select id="getDriverByVcleId" resultType="java.util.Map">
        select <include refid="Base_Column_List"/> from vcle_belong
        where 1=1
        <if test="vcleId != null and vcleId != ''">
            and  vcle_id='${vcleId}'
        </if>
        <if test="driId != null and driId != ''">
            and  dri_id='${driId}'
        </if>
        order by create_time desc
    </select>
    <select id="getDriverByVcleIdOrDriId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from vcle_belong
        where 1=1
        <if test="vcleId != null and vcleId != ''">
            and  vcle_id='${vcleId}'
        </if>
        <if test="driId != null and driId != ''">
            and  dri_id='${driId}'
        </if>
        order by create_time desc
    </select>

</mapper>
